NODE_ENV=development
PORT=3000

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=myunand_kurikulum_new
DB_USER=root
DB_PASS=

JWT_SECRET=myunand_kurikulum_jwt_secret_key_2026
JWT_EXPIRES_IN=20m
JWT_REFRESH_EXPIRES_IN=7d

APP_URL=http://localhost:3000
